{% include "header.html" %}
<div class="page-container">
    <h1 class="page-heading" data-aos="fade-down-right" data-aos-duration="1500">{{header}}</h1>
    <form class="cafe-form" data-aos="flip-right" data-aos-duration="1500" method="post">
        <h1 class="form-heading">Input Cafe Details</h1>
        {% if cafe %}
            <div class="row form-row">
              <div class="col-lg-6">
                  <input class="form-control form-input" placeholder="Cafe Name" value="{{cafe.name}}" type="text" disabled>
              </div>
              <div class="col-lg-6">
                <input class="form-control form-input" placeholder="Cafe Location" value="{{cafe.location}}" type="text" name="loc">
              </div>
            </div>

            <input class="form-control form-input form-row" placeholder="Map Url" value="{{cafe.map_url}}" type="url" data-aos="fade-down" name="map_url">
            <input class="form-control form-input form-row" placeholder="Image Url" value="{{cafe.img_url}}" type="url" data-aos="fade-down" name="img_url">

            <div class="row form-row">
              <div class="col-lg-6">
                <input class="form-control form-input" type="text" placeholder="Coffee Price" value="{{cafe.coffee_price}}" data-aos="fade-down" name="price">
              </div>
              <div class="col-lg-6">
                <input class="form-control form-input" type="text" placeholder="Seats Available" value="{{cafe.seats}}" data-aos="fade-down" name="seats">
              </div>
            </div>

            <div class="checkbox-container">
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Toilets:</label><input type="checkbox" data-aos="fade-left" name="toilet" {% if cafe.has_toilet %}checked{% endif %}>
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Wifi:</label><input type="checkbox" data-aos="fade-left" name="wifi" {% if cafe.has_wifi %}checked{% endif %}>
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Sockets:</label><input type="checkbox" data-aos="fade-left" name="sockets" {% if cafe.has_sockets %}checked{% endif %}>
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Calls:</label><input type="checkbox" data-aos="fade-left" name="calls" {% if cafe.can_take_calls %}checked{% endif %}>
                </div>
            </div>
        {% else %}
            <div class="row form-row">
              <div class="col-lg-6">
                  <input class="form-control form-input" placeholder="Cafe Name" type="text" name="name" required>
              </div>
              <div class="col-lg-6">
                <input class="form-control form-input" placeholder="Cafe Location" type="text" name="loc" required>
              </div>
            </div>

            <input class="form-control form-input form-row" placeholder="Map Url" type="url" data-aos="fade-down" name="map_url" required>
            <input class="form-control form-input form-row" placeholder="Image Url" type="url" data-aos="fade-down" name="img_url" required>

            <div class="row form-row">
              <div class="col-lg-6">
                <input class="form-control form-input" type="text" placeholder="Coffee Price" data-aos="fade-down" name="price" required>
              </div>
              <div class="col-lg-6">
                <input class="form-control form-input" type="text" placeholder="Seats Available" data-aos="fade-down" name="seats" required>
              </div>
            </div>

            <div class="checkbox-container">
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Toilets:</label><input type="checkbox" data-aos="fade-left" name="toilet">
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Wifi:</label><input type="checkbox" data-aos="fade-left" name="wifi">
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Sockets:</label><input type="checkbox" data-aos="fade-left" name="sockets">
                </div>
                <div>
                    <label class="form-label me-2" data-aos="fade-left">Calls:</label><input type="checkbox" data-aos="fade-left" name="calls">
                </div>
            </div>
        {% endif %}
        <button class="form-btn btn btn-lg btn-outline-dark" type="submit" data-aos="fade-up">{{btn}}</button>
    </form>
</div>
{% include "footer.html" %}