<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cafe & Wifi</title>

<!--  Bootstrap CDN-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<!--  Animation on scroll-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- Custom Styles-->
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">

<!--  Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,300;1,700&display=swap" rel="stylesheet">

<!--  Feather Icons-->
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <div class="container">
  <!--    Logo-->
      <span class="navbar-brand ms-5">
        <span class="me-0">Cafe & Wifi <i class="brand-icon mb-2 ms-1" data-feather="wifi"></i></span>
      </span>
  <!--    Toggle btn-->
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <!--    Side bar-->
      <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-white border-bottom">
          <span class="offcanvas-title" id="offcanvasNavbarLabel">Cafe & Wifi <i class="side-icon mb-2 ms-1" data-feather="wifi"></i></span>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <form class="d-flex mx-auto search-container justify-content-center" role="search" action="{{ url_for('search_results') }}">
            <input class="form-control me-2 search-bar" type="search" placeholder="Search locations" aria-label="Search" name="loc" id="search">
            <button class="btn search-btn" type="submit">
              <i data-feather="search"></i>
            </button>
          </form>
          <ul class="navbar-nav justify-content-end align-items-center pe-3">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/"><i class="link-icon me-1 mb-1" data-feather="globe"></i><span>All Cafes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="{{ url_for('add_cafe', edit='n', id=0) }}"><i class="link-icon me-1 mb-1" data-feather="plus-circle"></i><span>Add Cafe</span></a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<!--Navigation Bar-->


